:root {
  --burgundy: #540B0E;
  --red: #9E2A2B;
  --gold: #e09F3E;
  --yellow: #FFF3B0;
  --green: #335C67;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  flex-direction: column;
  background: var(--burgundy);
  background: linear-gradient(
    180deg,
    var(--burgundy) 0%,
    var(--red) 100%);
}

a {
  text-decoration: none;
  color: var(--burgundy);
}

h1, h2 {
  font-family: "Anton", sans-serif;
  color: var(--burgundy);
}

.emphasis {
  color: var(--yellow);
  font-weight: 800;
}

.welcome {
  height: 90vh;
  width: 100vw;
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--burgundy);
  width: 220px;
  margin: 0 auto 20px auto;
  height: 220px;
  margin-right: 10px;
}

.continuebutton {
  box-shadow: 5px 5px var(--yellow);
  transition: all .2s;
}

.continuebutton:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.continuebutton h1 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
}


.continuebutton img {
  height: 72px;
  width: 72px;
  margin-left: 10px;
}

/* Choose Wine => Recipe or Recipe => Wine */

.mode-select {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--burgundy);
  background: linear-gradient(
    180deg,
    var(--burgundy) 0%,
    var(--red) 100%
  );
}

.mode-top, .mode-bottom {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.mode-top:active, .mode-bottom:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.mode-top {
  background-color: var(--gold);
  box-shadow: 5px 5px var(--burgundy);
  color: black;
}

.mode-bottom {
  background-color: var(--green);
  box-shadow: 5px 5px var(--burgundy);
  color: white;
}

.mode-select h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

/* I have a wine, show me a recipe! */

.menu-wine {
  height: 90vh;
  width: 100vw;
  overflow: scroll;
  background: var(--burgundy);
  background: linear-gradient(
    180deg,
    var(--burgundy) 0%,
    var(--red) 100%
  );
}

.menu-wine h2 {
  font-family: "Anton", sans-serif;
  color: white;
  font-weight: 300;
}

.bottle-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 54px;
  border: 2px solid white;
  background-color: var(--burgundy);
  overflow: hidden;
  position: relative;
  width: 95%;
  max-width: 700px;
  box-shadow: 4px 4px 8px black;
}

.bottle-select img {
  display: block;
  width: 140px;
  pointer-events: none;
  margin: 0 10px;
}

.bottle-select:last-of-type img {
  width: 150px;
}

.bottle-select h3 {
  font-family: "Anton", sans-serif;
  text-align: left;
  flex-shrink: 0;
  width: 200px;
  position: absolute;
  left: 20px;
  color: var(--burgundy);
  pointer-events: none;
  font-weight: 200;
}

.subtype-list {
  text-align: right;
  font-size: 14px;
  pointer-events: none;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {
  .bottle-select img {
    width: 200px;
    margin: 0 15px;
  }
  .subtype-list {
    margin-right: 15px
  }
  .bottle-select h3 {
    left: 35px;
  }
}

.selected {
  background: var(--gold);
  color: black;
}

.show-me-recipe {
  background-color: var(--burgundy);
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid white;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-me-recipe img {
  height: 60px;
  width: 60px;
}

.recipe-rec {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--yellow);
  background: linear-gradient(
    180deg,
    var(--burgundy) 0%,
    var(--red) 100%
  );
}

.recipe-rec img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  border: 2px solid white;
}

.recipe-image-container {
  border-radius: 10px;
}

.recipe-info-container {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.recipe-info-container a {
  color: var(--gold);
}

/* I have a recipe, help me find a wine! */

.menu-food {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--burgundy);
  background: linear-gradient(180deg, var(--burgundy) -50%, var(--red) 100%);
  
}

.menu-food h1 {
  font-family: "Anton", sans-serif;
  color: white;
  font-weight: 300;
  margin: 0;
}

.menu-food select {
  background-color: var(--burgundy); 
  border-radius: 50px;
  border: 2px solid white;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.factors {
  width: 90vw;
  margin: 10px 10px;
  max-width: 700px;
}

.factor {
  color: white;
  background: var(--burgundy);
  display: flex;
  position: relative;
  border: 2px solid white;
  border-radius: 54px;
  margin: 5px;
  padding: 10px;
  box-shadow: 4px 4px 8px black;

}

.factor-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
  margin-right: 15px;
}

.factor h3 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

.factor img {
  height: 60px;
}

.factor p {
  margin: 3px 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
  text-align: left;
}

.remove-ingredient {
  border: 2px solid white;
  border-radius: 50%;
  background: var(--red);
  width: 50px;
  height: 50px;
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.menu-food ul {
  text-align: left;
}

.no-selection {
  color: var(--yellow);
  font-weight: 700;
  margin-top: 0;
  font-family: sans-serif;
}

.pairbutton {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--burgundy);
  width: 200px;
  height: 200px;
  margin: 10px auto 20px auto;
  margin-right: 10px;
  box-shadow: 5px 5px var(--yellow);
  transition: all .2s;
}

.pairbutton:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.pairbutton h1 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
}
.pairbutton img {
  height: 52px;
  width: 52px;
  margin-left: 2px;
}
/* Wine recommendation page */
.wine-rec {
  display: flex;
  height: 90vh;
  width: 100vw;
  color: var(--burgundy);
  flex-direction: column;
  justify-content: center;
  background: var(--yellow);
  background: linear-gradient(
    180deg,
    var(--burgundy) 0%,
    var(--red) 100%);
}

.result-container {
  margin: 0 auto;
}

.rec-description,
.rec-link {
  margin: 10%;
  display: block;
  color: white;
}

.boldred, .mediumred, .lightred, .richwhite, .lightwhite, .rose, .sparkling, .sweetwhite, .dessert {

  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid white;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.boldred {
  background-image: url("./assets/boldredphoto.jpg");
}

.mediumred {
  background-image: url("./assets/mediumredphoto.jpg");

}

.lightred {
  background-image: url("./assets/lightredphoto.jpg");

}

.richwhite {
  background-image: url("./assets/richwhitephoto.jpg");

}

.lightwhite {
  background-image: url("./assets/lightwhitephoto.jpg");

}

.rose {
  background-image: url("./assets/rosephoto.jpg");

}

.sparkling {
  background-image: url("./assets/sparklingphoto.jpg");

}

.sweetwhite {
  background-image: url("./assets/sweetwhitephoto.jpg");

}

.dessert {
  background-image: url("./assets/dessertphoto.jpg");

}

.back-home {
  color: white;
  background: var(--burgundy);
  position: relative;
  border: 2px solid white;
  border-radius: 54px;
  margin: 5px;
  padding: 10px;
  box-shadow: 4px 4px 8px black;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  background: var(--burgundy);
  border-top: 2px solid white;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.footer-nav-btn {
  height: 50px;
  width: 50px;
  background: transparent;
  color: white;
  border: 0;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info-modal {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--gold);
  border-radius: 20px;
  min-width: 250px;
  padding: 10px;
}