.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #50183d;
}

h1, h2 {
  font-family: "Anton", sans-serif;
  color: #50183d;
}

.emphasis {
  color: #50183d;
  font-weight: 800;
}

.welcome {
  height: 100vh;
  width: 100vw;
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #50183d;
  width: 220px;
  margin: 0 auto 20px auto;
  height: 220px;
  margin-right: 10px;
}

.continuebutton h1 {
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}


.continuebutton img {
  height: 72px;
  width: 72px;
  margin-left: 10px;
}

/* Choose Wine => Recipe or Recipe => Wine */

.mode-select {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(80, 24, 61, 1);
  background: linear-gradient(
    180deg,
    rgba(80, 24, 61, 1) 0%,
    rgba(252, 216, 159, 1) 100%
  );
}

.mode-top, .mode-bottom {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px #50183d;
}

.mode-top:active, .mode-bottom:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.mode-top {
  background-color: rgba(255, 255, 255, 0.5);
}

.mode-bottom {
  background-color: rgba(80, 24, 61, 0.5);
  border-radius: 50%;
  color: white;
  padding: 10px;
}

.mode-select h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

/* I have a wine, show me a recipe! */

.menu-wine {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: rgba(80, 24, 61, 1);
  background: linear-gradient(
    180deg,
    rgba(80, 24, 61, 1) 0%,
    rgba(252, 216, 159, 1) 100%
  );
}

.menu-wine h2 {
  font-family: "Anton", sans-serif;
  color: white;
  font-weight: 300;
}

.bottle-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px;
  padding: 8px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-color: #50183d;
  background-size: 200px 50px;
}

.bottle-select:active {
  background-color: white;
}

.bordeaux {
  background-image: url("./assets/bottle-bordeaux-silhouette-white.png");
}

.burgundy {
  background-image: url("./assets/bottle-burgundy-silhouette-white.png");
}
.sparkling {
  background-image: url("./assets/bottle-sparkling-silhouette-white.png");
}
.port {
  background-image: url("./assets/bottle-port-silhouette-white.png");
  background-size: 150px 50px;
}

.bottle-horizontal {
  width: 200px;
}

.bottle-select h3 {
  color: #50183d;
  text-align: left;
  flex-shrink: 0;
  width: 200px;
}

.subtype-list {
  text-align: right;
  font-size: 12px;
}

.current-selection {
  font-style: italic;
  color: #50183d;
  margin: 2px;
}

.show-me-recipe {
  background-color: #50183d;
  color: white;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-me-recipe img {
  height: 60px;
  width: 60px;
}

.recipe-rec {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(252, 216, 159, 1);
  background: linear-gradient(
    180deg,
    rgba(80, 24, 61, 1) 0%,
    rgba(252, 216, 159, 1) 100%
  );
}

.recipe-rec img {
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  border: 2px solid white;
}

.recipe-image-container {
  border-radius: 10px;
}

.recipe-info-container {
  width: 80%;
  margin: 0 auto;
}

/* I have a recipe, help me find a wine! */

.menu-food {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(252, 216, 159, 1);
  background: linear-gradient(
    180deg,
    rgba(80, 24, 61, 1) 0%,
    rgba(252, 216, 159, 1) 100%
  );
}

.menu-food h1 {
  font-family: "Anton", sans-serif;
  color: #50183d;
  font-weight: 300;
  margin: 0;
}

.menu-food select {
  background-color: #50183d; 
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.factors-1 {
  width: 60vw;
  margin: 10px 10px;
}

.factors-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.factors-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.factors-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.factor {
  text-align: center;
  color: #50183d;
  display: flex;
  flex-direction: column;
  border: 3px solid #50183d;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.factor h3 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 24px;
}

.factor img {
  height: 150px;
}
.factor ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.factor ul li {
  margin: 0 2%;
  font-style: italic;
}

.menu-food ul {
  text-align: left;
}

.no-selection {
  color: #50183d;
  font-weight: 700;
  margin-top: 0;
}

.pairbutton {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #50183d;
  width: 200px;
  height: 200px;
  margin: 10px auto 20px auto;
  margin-right: 10px;
  box-shadow: 5px 5px rgba(252, 216, 159, 1)
}

.pairbutton:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.pairbutton h1 {
  font-size: 40px;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
}
.pairbutton img {
  height: 52px;
  width: 52px;
  margin-left: 2px;
}
/* Wine recommendation page */
.wine-rec {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: #50183d;
  flex-direction: column;
  justify-content: center;
  background: rgba(252, 216, 159, 1);
  background: linear-gradient(
    180deg,
    rgba(80, 24, 61, 1) 0%,
    rgba(252, 216, 159, 1) 100%);
}

.result-container {
  width: 70%;
  margin: 0 auto;
}

.rec-description,
.rec-link {
  margin: 10%;
  display: block;
  color: #50183d;
}

.rec-link {
  font-weight: 700;
}